In [44]:
import pandas as pd
import numpy as np

In [45]:
df = pd.read_csv("Prac_11_TelcoChurn.csv")

In [46]:
df = df[["tenure", "MonthlyCharges", "TotalCharges"]]

In [47]:
df.head()

   tenure  MonthlyCharges  TotalCharges
0      34           56.95       1889.50
1       2           53.85        108.15
2      45           42.30       1840.75
3      22           89.10       1949.40
4      28          104.80       3046.05

In [48]:
from sklearn.preprocessing import StandardScaler

In [49]:
scalar = StandardScaler()
df_scalar =scalar.fit_transform(df)

In [50]:
df_scalar = pd.DataFrame(df_scalar, columns=df.columns)

In [52]:
df_scalar.head()

     tenure  MonthlyCharges  TotalCharges
0  0.055170       -0.250741     -0.170046
1 -1.238955       -0.353342     -0.952129
2  0.500026       -0.735613     -0.191450
3 -0.430127        0.813331     -0.143748
4 -0.187478        1.332956      0.337724